body{
	padding: 20px;
}

.list {
  background-color: lightgreen;
  min-height: 100px;
}

.list ul {
  margin: 0;
  padding: 0;
}

.list li {
  background-color: lightblue;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 0 10px;
}

.item-title {
  flex: 1;
}

.comments-count {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 45px;
  color: white;
  font-size: 40px;
  align-self: center;
}

.Add {
  margin: 0 auto;
  color: white;
  background-color: blue;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.mid-text {
  font-size: 20px;
}